<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="base :: head"></div>
    <style>
    .content {
    max-width: 500px;
    margin: auto;
    }
    </style>
</head>
<body>
<th:block th:replace="base :: navbar"></th:block>

<br /><br /><br />
<div class="container">
    <div class="content">
    <h3>Messages</h3>



        <th:block th:each="message: ${messages}">
            <h3><p style="line-height:25pt;"> <div th:utext="${message.content}" ><br /></div>

                </p></h3>

                <div th:if="${message.image}!=null"> <img th:src="${message.image}" height="100" width="100" />
                </div>

                from <span th:text="${message.sentby}"></span><br/>



                <a th:href="@{/editimagemessage/{id}(id=${message.id})}">Update as Image Message</a>-
            <a th:href="@{/edittextmessage/{id}(id=${message.id})}">Update as Text Message</a>-
                <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>-
                <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>


        </th:block>


</div>
</div>

</body>
</html>