<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <th:block th:replace="base :: head"></th:block>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div th:replace="base :: navbar"></div>
<br /><br /><br />

<div class="container">
    <div class="content">
    <h3>Add Message</h3>
<form action="#"
      th:action="@{/processformtext}"
      th:object="${message}"
      method="post" >
    <input type="hidden" th:field="*{id}"/>

    Content: <textarea rows="3" th:field="*{content}"/>
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span> <br />


    <input type="submit" value="Submit" />
</form>
    </div>
</div>
</body>
</html>